button {
    border: solid 2px rgb(0, 84, 71);
    margin: 0 auto;
    display: block;
  }

button:hover {
  cursor: pointer;
  border: solid 3px rgb(0, 143, 122);
  box-shadow: 0 2px 3px #ccc;
}

.button-div {
    align-items: center;
    justify-content: center;
    margin: 3px;
}